.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $deafault-font-size;
        font-weight: 400;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        &::after {
            transform: scalex(1.3) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .5);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    &--animated {
        animation: bottom-to-top .5s ease-in-out .75s;
        animation-fill-mode: backwards;
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $deafault-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s linear;
    }
    &:hover {
        transform: translateY(-.2rem);
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
    &:active {
        transform: translateY(0rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
}