@keyframes left-to-right {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    /* 50% {
        transform: scale(2)
    } */
    80% {
        transform: translateX(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        ;
    }
}

@keyframes right-to-left {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottom-to-top {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    80% {
        transform: translateY(-1.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}